@{
    ViewData["Title"] = "Anon.Blog";
}
<h1>@ViewData["Title"]</h1>

<p>We dont save information about user.You can create your post and no one can see it.But we have rules:</p>
<p>First: NO your advertesment</p>
<p>Second:  Please be not agressive to another people</p>
<a href="https://github.com/MihailRoot/blogasp">Support on github</a>


